name: build

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"
    branches:
      - "main"
  pull_request:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  build-macos-aarch64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          git clone https://github.com/ccxvii/mujs.git
      - name: build
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-aarch64-apple-darwin.tar.xz -C ./build/release .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-aarch64-apple-darwin
          path: ./mujs/mujs-aarch64-apple-darwin.tar.xz
  build-macos-x86_64:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          git clone https://github.com/ccxvii/mujs.git
      - name: build
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-x86_64-apple-darwin.tar.xz -C ./build/release .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-x86_64-apple-darwin
          path: ./mujs/mujs-x86_64-apple-darwin.tar.xz
  build-ubuntu:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          git clone https://github.com/ccxvii/mujs.git
      - name: build
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-x86_64-unknown-linux-gnu.tar.xz -C ./build/release .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-x86_64-unknown-linux-gnu
          path: ./mujs/mujs-x86_64-unknown-linux-gnu.tar.xz
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          path-type: inherit
          install: >-
            mingw-w64-x86_64-make
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-clang
            mingw-w64-x86_64-perl
            mingw-w64-x86_64-python3
            zip
            unzip
            curl
            wget
      - name: install
        shell: msys2 {0}
        run: |
          git clone https://github.com/ccxvii/mujs.git
      - name: build
        shell: msys2 {0}
        run: |
          cd mujs
          make release HAVE_READLINE=no
          tar -cJf ./mujs-x86_64-pc-windows-gnu.tar.xz -C ./build/release .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mujs-x86_64-pc-windows-gnu
          path: ./mujs/mujs-x86_64-pc-windows-gnu.tar.xz

  build:
    needs:
      [
        "build-ubuntu",
        "build-windows",
        "build-macos-x86_64",
        "build-macos-aarch64",
      ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: mujs
          pattern: mujs-*
          merge-multiple: true

      - name: release
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          artifacts: "mujs/*.tar.xz,dist-manifest.json"
  post-test:
    needs: ["build"]
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest, macos-latest, macos-13]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: test api
        run: |
          curl https://api.github.com/repos/ahaoboy/mujs-build/releases/latest
          sleep 20
          curl https://api.github.com/repos/ahaoboy/mujs-build/releases/latest
      - uses: ahaoboy/easy-setup@v1
        with:
          repo: https://github.com/ahaoboy/mujs-build
      - name: test
        run: |
          which mujs
          echo "console.log(1+1)" >> ./test.js
          mujs ./test.js
